@charset "UTF-8";

body{
    background-color: #a5f5aae7;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(64, 143, 93);
}
h1#principal{
    color: white;
    text-align: center;
    background-color: #2f5031 ;
}
h2{
    color:#3c7e40;
}
p{
    text-indent: 30px;
    text-align: justify;
}
.basico{
    background-color: #2f5031;
    color: white;
    padding: 5px;
}
.intermediario{
    background-color: #deec1c;
    padding: 5px;
    color: white;
}
.avancado{
    background-color: red;
    color: white;
    padding: 5px;
}